###### Requirements for using the PhyloTreeGUIv1.0
######
###### Author: Paolo Pagliuca <paolo.pagliuca@istc.cnr.it>
######
##########################################################

Suggestions: it is highly recommended to use a virtual environment. Here below a guide to the creation
of a new environment with conda

https://conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html

The code has been successfully tested on Python 3.9.x. In the future, compatibility with newer/older
Python versions will be ensured.

In order to make the PhyloTreeGUIv1.0 tool work, you need to install some packages:

tkinter (version 8.6)
matplotlib (version 3.8.x)
bio (version 1.6.2)
numpy
pandas
seaborn

All packages can be easily installed by using pip: pip install <package_name>

To launch the GUI, open an Ubuntu terminal and type the command:

python main.py [--path </path/to/dir/containing/xml/files>] [--folder </path/to/out/dir>] [--fullscreen]

The arguments within squared brackets are optional, so you can use the GUI by simply running:

python main.py

You may specify a path to a directory containing the phyloXML files that can be loaded. If your phyloXML files are
not contained in the current directory, you can use the following command:

python main.py --path <your_path_to_directory_containing_files>

You can specify a directory in which all output files (BED file, new PhyloXML trees, CSV file) will be stored. You
must simply type the command:

python main.py --folder <your_directory>

If the directory you pass does not exist, the program creates it.

If you want to launch the GUI at full screen (i.e., the GUI size matches the screen size), you can type the command:

python main.py --fullscreen

In all cases, to exit the GUI you may simply press the "ESC" keyboard button.
